@font-face {
  font-family: 'cuprumbold';
  src: url('cuprum-bold-webfont.woff2') format('woff2'),
  url('cuprum-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cuprumbold_italic';
  src: url('cuprum-bolditalic-webfont.woff2') format('woff2'),
  url('cuprum-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cuprumitalic';
  src: url('cuprum-italic-webfont.woff2') format('woff2'),
  url('cuprum-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cuprumregular';
  src: url('cuprum-regular-webfont.woff2') format('woff2'),
  url('cuprum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

.main-header h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.services h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
