@font-face {
  font-family: "cuprumbold";
  src: url("../fonts/cuprum-bold-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "cuprumbold_italic";
  src: url("../fonts/cuprum-bolditalic-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "cuprumitalic";
  src: url("../fonts/cuprum-italic-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: "cuprumregular";
  src: url("../fonts/cuprum-regular-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

.main-header h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.services h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
